@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: rgba(231, 227, 250, 0.377);
}

.App {
  width: 550px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 2rem 3rem 3rem;
  background-color: white;
  -webkit-box-shadow: 2px 5px 20px #d9ecfc;
          box-shadow: 2px 5px 20px #d9ecfc;
}

.App .container {
  width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 20px;
}

.App .container .alert {
  padding: 0.4rem 2rem;
  margin-bottom: 1rem;
  font-size: 0.6rem;
  letter-spacing: 2px;
}

.App .container .alert.success {
  background-color: #b9ecce;
  color: #12965f;
}

.App .container .alert.danger {
  background-color: #f33e27;
  color: white;
}

.App .container .header h3 {
  color: #1666b1;
  letter-spacing: 5px;
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.5rem;
}

.App .container form {
  padding: 2rem 0;
}

.App .container form input,
.App .container form button {
  padding: 0.8rem 1.5rem;
  outline: none;
  border: none;
}

.App .container form input {
  border: 1px solid #d4d3d3;
  width: 74%;
}

.App .container form input::-webkit-input-placeholder {
  color: #d4d3d3;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 0.8rem;
}

.App .container form input:-ms-input-placeholder {
  color: #d4d3d3;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 0.8rem;
}

.App .container form input::-ms-input-placeholder {
  color: #d4d3d3;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 0.8rem;
}

.App .container form input::placeholder {
  color: #d4d3d3;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 0.8rem;
}

.App .container form button {
  margin-left: 1rem;
  background-color: #21d67c;
  color: white;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.App .container form button:hover {
  -webkit-box-shadow: 1px 2px 5px #c5c5c5;
          box-shadow: 1px 2px 5px #c5c5c5;
}

.App .container .task {
  background-color: rgba(231, 227, 250, 0.377);
  padding: 0.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.App .container .task .title {
  font-size: 0.9rem;
  color: black;
}

.App .container .dlt_all {
  color: red;
  font-weight: bold;
  background: none;
  margin-top: 2rem;
  border: 1px solid red;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
}
/*# sourceMappingURL=App.css.map */